/* header */
header h1 {}
header h1 a {
    display:block; text-indent:-9999px;
    width:85px; height:30px;
    background:url(../images/bg_logo.png) no-repeat 0 top;
    /* 흑백 로고 보이게 하는 경우 */
    /* background:url(../images/bg_logo.png) no-repeat 0 bottom; */
}
header nav {display:flex; margin-left:32px;}
header nav a {
    margin-right:60px; padding:20px 0; /* 선택영역 키우기 위한 패딩값 */
    color:#fff; font-weight:700;
    position:relative;
}
header nav a span {
    display:inline-block; width:16px; height:16px;
    background-image: url(../images/ico_rsv.png);
    margin-left:6px; position:relative; top:3px;
}
header nav a:last-child {margin-right:0;}
header nav a::after {
    content:''; display:block;
    width:1px; height:16px;
    background:#fff;
    position:absolute; top:calc(50% - 7px); left:-30px;
}
header nav a:first-child::after {display:none;}
header #mobile_nav {display:none;} /* mobile nav */
/* footer */
footer {background:#222; width:100%; padding:80px 16px;}
footer .f_top, footer .f_btm {max-width:1400px; min-width:375px; margin:0 auto;}
footer .f_top {
    display:flex; flex-flow:row nowrap;
    justify-content: space-between; align-items:center;
    margin-bottom:20px;
}
footer .f_top .menu {display:flex; flex-flow:row wrap;}
footer .f_top a {padding:4px 0;}
footer .f_top .menu a {font-size:0.875rem; margin-right:16px; color:#fff;}
footer .f_top .menu a:last-child {margin-right:0;}
footer .f_top > a {font-weight:700; color:#fff; white-space: nowrap;}
footer .f_btm {}
footer .f_btm p {font-size:0.75rem; color:#ccc;}
footer .f_btm p:nth-child(2) {margin:8px 0;}