@keyframes bgMove {
    0% {background-position:100% 100%;}
    100% {background-position:0 0;}
}

@keyframes slideIn {
    0% {transform:translateX(50px); opacity:0;}
    100% {transform:translateX(0); opacity:1; }
}

@keyframes slideUp {
    0% {transform:translateY(50px); opacity:0;}
    100% {transform:translateY(0); opacity:1; }
}