/* font-family: 'Spoqa Han Sans Neo', sans-serif; */
/* @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css); */
/* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Permanent Marker', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{box-sizing:border-box;}
html,body,h1,h2,h3,h4,h5,h6,p,div,a,
header,main,nav,footer,aside,section,article,figure,
table,thead,tbody,tfoot,tr,th,td,
ul,ol,li,dl,dt,dd,address,
video,img,em,span,sub,sup,code,del,s,q,blockquote,
form,fieldset,input,button,select,option,textarea {
    margin:0; padding:0;
    font-size:1rem; font-style: normal; font-weight:normal;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; letter-spacing: -0.02em;
    line-height:1.0;
}
ul,ol,li {list-style:none;}
table,thead,tbody,tfoot,tr,th,td {border-collapse:collapse;}
th {text-align:left;}
a {text-decoration:none; color:#000;}
fieldset {border:0;}
textarea {resize:none; border:0;}
input, button, label {cursor:pointer; background:none; border:0;}
.skip {display:none;}