/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,body {min-width:320px; background:#FFFFFF;}
main {
    width:min(100%,1000px); margin:0 auto; padding:100px 16px;
    display:flex; flex-flow:column nowrap; gap:120px;
    font-family: 'Montserrat', 'Noto Sans Kr', sans-serif;
}
main * {color:inherit; font-family: inherit; font-weight:inherit; font-size:inherit;}
main .contents_wrap {}
main .contents_wrap h1 {
    font-weight: 600; font-size: 3rem; letter-spacing: -0.02em; color: #333333;
    margin-bottom:40px;
}
main .contents_wrap .contents {
    display:flex; flex-flow:column nowrap; gap:32px;
}
main .contents_wrap .contents .paragraph {
    font-weight: 500; line-height: 1.6; letter-spacing: -0.05em; color: #666666;
    word-break:keep-all; text-align:justify;
}


/*
style guide
*/
#styleguide h1 {margin-bottom:60px;}
#styleguide .contents {display:flex; flex-flow:column nowrap; gap:80px;}
#styleguide .style  {
    display:flex; flex-flow:column nowrap; gap:40px;
}
#styleguide .style h2  {
    font-weight: 500; font-size: 2rem; letter-spacing: -0.02em; color: #666666;
}
#styleguide .style .category  {
    display:flex; flex-flow:row nowrap; gap:20px;
}
#styleguide .style .category h3  {
    font-weight: 400; font-size: 1.125rem; letter-spacing: -0.05em; color: #999999;
    min-width:220px;
}
/* colors */
#styleguide .style .category .pallete  {
    flex:auto;
    display:flex; flex-flow:row wrap; justify-content: space-between; gap:20px;
}
#styleguide .style .category .pallete .color_chip  {
    flex:1; padding: 100px 16px 16px; color:#FFFFFF;
}
#styleguide .style .category .pallete .color_chip.light  {color:#333333; border:1px solid #CCCCCC;}
#styleguide .style .category .pallete .color_chip h4 {
    font-family:'Noto Sans KR'; font-weight: 700; font-size: 1.125rem;
    letter-spacing: -0.05em; margin-bottom:24px;
}
#styleguide .style .category .pallete .color_chip ul {
    display:flex; flex-flow:column nowrap; gap:8px;
}
#styleguide .style .category .pallete .color_chip ul li {
    display:flex; flex-flow:row nowrap; gap:12px;
}
#styleguide .style .category .pallete .color_chip ul li * {font-size: 0.875rem;}
#styleguide .style .category .pallete .color_chip ul li em {font-weight: 700;}
#styleguide .style .category .pallete .color_chip ul li span {opacity: 0.8;}
/* color_chip 개별 */
#color_primary .color_chip:nth-child(1)  {background:#D5B2AA;}
#color_primary .color_chip:nth-child(2)  {background: #941b00;}
#color_primary .color_chip:nth-child(3)  {background: #f5eeed;}
#color_grayscale .color_chip:nth-child(1) {background:#313131;}
#color_grayscale .color_chip:nth-child(2) {background:#616161;}
#color_grayscale .color_chip:nth-child(3) {background:#AAAAAA;}
#color_grayscale .color_chip:nth-child(4) {background:#CCCCCC;}
#color_grayscale .color_chip:nth-child(5) {background:#F4F4F4;}

/* typography */
#typography .font  {
    display:flex; flex-flow:column nowrap; gap:32px;
}
#typography .font .style  {
    display:flex; flex-flow: row nowrap; align-items:center; gap:32px;
}
#typography .font .style.bold  {font-weight:700;}
#typography .font .style.semibold  {font-weight:600;}
#typography .font .style.medium  {font-weight:500;}
#typography .font .style.regular  {font-weight:400;}
#typography .font .style.light  {font-weight:300;}
#typography .font .style .aa  {
    font-size:3.75rem;
    width:150px; height:150px; text-align: center; line-height: 150px;
    border:1px solid #CCCCCC;
}
#typography .font .style .txt  {}
#typography .font .style .txt .name  {font-size:1.5rem; margin-bottom:16px;}
#typography .font .style .txt .abcd  { line-height: 1.3; color: #666666;}
/* font-family */
#fontfamily_spoqa_han_sans_neo {font-family:'Spoqa Han Sans Neo'}
#fontfamily_kanit {font-family:'Kanit';}
#fontfamily_permanent_marker {font-family:'Permanent Marker';}

/* components */
#components {}
#components #iconography {}
#components #iconography .list {display:flex; flex-flow:row wrap; gap:12px;}

/* guideline, responsive */
.info {display:flex; flex-flow:row wrap; gap:24px;}
.info li {font-size: 0.875rem;}
.info li em {font-weight: 700; color:#333333; margin-right:8px;}
.info li span {font-weight: 500; color:#666666;}
.img_container {}
.img_container img {width:100%;}
#guideline .img_container img {border:1px solid #ddd;}


/*
responsive
*/
@media screen and (max-width:834px) {
    #styleguide .style .category {flex-flow:column nowrap;}
}
@media screen and (max-width:620px) {
    main {gap:80px;}
    main .contents_wrap h1 {font-size:2.25rem;}
    main .contents_wrap .contents .paragraph {font-size: 0.875rem; text-align: start;}
    #styleguide .contents {gap:60px;}
    #styleguide .style h2 {font-size:1.5rem;}
    #styleguide .style .category h3 {font-size:1.125rem;}
    #styleguide .style .category .pallete {flex-flow:column nowrap; gap:16px;}
    #styleguide .style .category .pallete .color_chip {padding:24px 16px 16px;}
    #typography .font .style {gap:16px;}
    #typography .font .style .aa {width:120px; height:120px; line-height:120px; font-size:1.375rem;}
    #typography .font .style .txt {min-width:270px;}
    #typography .font .style .txt .name {font-size:1rem; margin-bottom:8px;}
    #typography .font .style .txt .abcd {font-size:0.75rem;}
    .info {gap:16px;}
    .info li {font-size:0.813rem;}
}
@media screen and (max-width:400px) {
    #typography .font .style {flex-direction: column; align-items: flex-start;}
    #typography .font .style .aa {width:100%; height:100px; line-height:100px;}

}