@media screen and (max-width:900px){
    main .dep2_tab {flex-flow:row wrap;  top:-54px;}
    main .dep2_tab a {width:33%; border:1px solid #aaa; padding:16px 0;}
    main .dep2_tab a:nth-child(1) {border-bottom-left-radius: 0;}
    main .dep2_tab a:nth-child(3) {border-top-right-radius:30px;}
    main .dep2_tab a:nth-child(4) {border-bottom-left-radius:30px;}
    main .dep2_tab a:nth-child(6) {border-top-right-radius: 0;}
    main .dep2_tab a:nth-child(3n-1) {border-right:0; border-left:0;}
    main .dep2_tab a:nth-child(6n+1),main .dep2_tab a:nth-child(6n+2),main .dep2_tab a:nth-child(6n+3) {border-bottom:0;}
}

@media screen and (max-width:580px){
    main .title_bg .title_wrap {height:300px;}
    main .title_bg .title_wrap h1 {font-size:2.25rem;}
    main .title_bg .title_wrap p {font-size:1.125rem;}
    main .dep2_tab a {font-size:0.875rem; font-weight:500;}
    main .contents_wrap {padding: 32px 14px;}
    main .contents_wrap .title h2 {font-size:1.5rem;}
    main .contents_wrap .contents .txt {font-size:0.813rem;}
    main .ability_wrap .contents {height:360px}
    main .ability_wrap .contents::before {width:250px; height:250px; transform: translate(-50%,-45%);}
    main .ability_wrap .contents .ability {width:200px; height:200px;}
    main .ability_wrap .contents .ability dt {font-size:1.25rem;}
    main .ability_wrap .contents .ability dd {font-size:0.813rem;}
}