@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{box-sizing:border-box;}
html,body,header,main,footer,h1,p,div
h1,a,img,form,fieldset,ul,li,span,input,
label,button {
    margin:0; padding:0;
    font-size:1rem; font-style:normal; font-weight:normal;
    line-height:1.0;
    font-family:'Noto Sans KR','맑은 고딕',sans-serif;
}
ul,li {list-style:none;}
a {text-decoration:none; color:#000;}
fieldset {border:0;}
button {cursor:pointer; background:0; border:0; border-radius:0;}
.skip {display:none;}